<div class="bar bar-header bar-positive">
  <button class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
  <h1 class="title" style="left: 35px;">{{ title }}</h1>
</div>
<ion-view>
  <ion-content class="has-header">
    <form class="list" ng-submit="onSubmit(searchNumber, searchName)">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nº de Peito</span>
        <input type="number" placeholder="123455" ng-model="searchNumber">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="Seu nome" ng-model="searchName">
      </label>
      <div class="padding">
        <button class="button button-block button-calm icon-left ion-search" type="submit">Buscar</button>
      </div>
    </form>

    <div class="card" ng-repeat="item in result">
      <div class="item">
        <h2>#{{ item.general_classification.classification }} - {{ item.name }}</h2>
        <p>Número: {{ item.code }}, sexo: {{ item.gender }}, idade: {{ item.age }}</p>
        <!-- <p>Equipe: {{ item.group }}, modalidade: {{ item.gender }}, categoria: {{ item.category }}</p> -->
      </div>
      <div class="item item-divider">
        Classificação geral
      </div>
      <div class="item">
        Classificação: {{ item.general_classification.classification }}
      </div>
      <div class="item">
        Tempo bruto: {{ item.general_classification.time }}
      </div>
      <div class="item">
        Tempo liquido: {{ item.general_classification.liquid_time }}
      </div>
      <div class="item item-divider">
        Classificação por categoria
      </div>
      <div class="item">
        Classificação: {{ item.category_classification.classification }}
      </div>
      <div class="item">
        Tempo bruto: {{ item.category_classification.time }}
      </div>
      <div class="item">
        Tempo liquido: {{ item.category_classification.liquid_time }}
      </div>
      <div class="item item-divider">
        Classificação por sexo
      </div>
      <div class="item">
        Classificação: {{ item.gender_classification.classification }}
      </div>
      <div class="item">
        Tempo bruto: {{ item.gender_classification.time }}
      </div>
      <div class="item">
        Tempo liquido: {{ item.gender_classification.liquid_time }}
      </div>
    </div>
  </ion-content>
</ion-view>
